.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: flex;
  color: #333;
}   

.main-left-container {
  width: 65%;
  height: 100vh;
}

.main-right-container {
  width: 35%;
  height: 100vh;
}
.main-left-container {
  background-image: url('../../images/bg-image.jpg');
  background-position: center;
  background-size: cover;
}

.main-right-container {
  display: flex;
  justify-content: center;  
  align-items: center;     
  flex-direction: column;
}

.greeting-container {
  margin-bottom: 100px;
}
.greeting {
  font-weight: bold;
}
.forgot-password {
  text-align: right;
  width: 55%; 
  color: #5e5e9f;
  font-weight: bold;
}

.text-box {
  width: 55%; 
  padding-top: 25px;
  padding-bottom: 25px;
  border: 2px solid silver;
  border-radius: 8px;
  border-color: #9D9DF8;
  margin-bottom: 15px;
}



.login-button {
  color: #fff;
  margin-top: 40px;
  width: 55%; 
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 8px;
  border-color: #9D9DF8;
  background: linear-gradient(180deg, #9D9DF8 -29.65%, #6566E5 100%);
  box-shadow: 0px 12px 40px rgba(86, 83, 255, 0.12);
  cursor: pointer;
}

.register-now {
  margin-top: 20px; 
}

.social-media-login {
  margin-top:40px;
}

.social-media-login img {
  margin-left: 5px; 
  margin-right: 5px; 
  cursor: pointer;
}